* {
  box-sizing: border-box;
  color: #1D2529;
}

p {
  font-family: 'Raleway', sans-serif;
}

.dashboard-wrapper {
  background-color: #FFF8EC;
}

.dashboard-sidemenu {
  background: #471527;
  width: 280px;
  position: absolute;
  top: 0px;
  bottom: 0;
  border-right: 3px solid #FFC35C;
}

.dashboard-sidemenu-nav {
  padding-top: 15px;
}

.nav-link {
  display: block;
  color: #DCDCDC;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 300;
}

.nav-link:hover {
  background: #8C596C;
  color: #DCDCDC;
  border-left: 5px solid #FFC96E;
  padding: 15px 30px 15px 25px;
  border-right: 0px solid #FFC35C;
}

.nav-link:hover .fa {
  color: #FFC96E;
}

.nav-link .fa {
  color: #DCDCDC;
  font-size: 1.4rem;
  margin-right: 0.8rem;
  display: inline-block;
  width: 30px;
  position: relative;
  top: 2px;
}

.nav-link.active {
  background: #35101D;
  color: #DCDCDC;
  border-left: 5px solid #FFB638;
  padding: 15px 30px 15px 25px;
  border-right: 0px solid #FFC35C;
}

.nav-link.active .fa {
  color: #FFB638;
}

.dashboard-content-wrapper {
  position: absolute;
  top: 0px;
  left: 280px;
  bottom: 0;
  right: 0;
  background-color: #FFF8EC;
}

.content-wrapper {
  overflow-y: scroll;
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 100%;
}

.content-container {
  padding: 20px;
}

.callout {
  padding: 5px;
}

.test {
}

.test:hover {
  background: #FFF1DA;
  cursor: pointer;
  transition: all 0.2s;
  margin-left: 3px;
}

.content-container {
  margin-top: 16px;
}

.button {
  margin-right: 5px !important;
}
